<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.github.ljun51.wechat.mapper.MenuMapper">

    <sql id="Base_Column">
    `id`,
    `programId`,
    `menuId`,
    `name`,
    `url`,
    `type`,
    `appid`,
    `pagepath`,
    `key`,
    `media_id`,
    `sort`,
    `status`,
    `createDate`,
    `updateDate`
  </sql>

    <select id="selectList" resultType="Menu" parameterType="Menu">
        select
        <include refid="Base_Column"/>
        from menu
        <where>
            <if test="name != null and name != ''">AND name like concat('%', #{name}, '%')</if>
            <if test="status != null">AND status = #{status}</if>
            <if test="menuId != null and menuId != ''">AND menuId = #{menuId}</if>
            <if test="programId != null and programId != ''">AND programId = #{programId}</if>
        </where>
    </select>

    <select id="selectOne" resultType="Menu" parameterType="java.lang.String">
        select
        <include refid="Base_Column"/>
        from menu
        <where>
            <if test="id != null and id != ''">AND id = #{id}</if>
        </where>
    </select>

    <insert id="insert" parameterType="Menu">
        insert into menu (
        <include refid="Base_Column"/>
        )
        values (#{id}, #{programId}, #{menuId}, #{name}, #{url},
        #{type}, #{appid}, #{pagepath}, #{key}, #{media_id},
        #{sort}, #{status}, #{createDate}, #{updateDate})
    </insert>

    <update id="update" parameterType="Menu">
        update menu
        <set>
            <if test="programId != null">programId = #{programId},</if>
            <if test="menuId != null">menuId = #{menuId},</if>
            <if test="name != null">name = #{name},</if>
            <if test="url != null">url = #{url},</if>
            <if test="type != null">type = #{type},</if>
            <if test="appid != null">appid = #{appid},</if>
            <if test="pagepath != null">pagepath = #{pagepath},</if>
            <if test="key != null">key = #{key},</if>
            <if test="media_id != null">media_id = #{media_id},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateDate != null">updateDate = #{updateDate},</if>
        </set>
        <where>
            <if test="id != null and id != ''">AND id = #{id}</if>
        </where>
    </update>

    <delete id="delete" parameterType="java.lang.String">
        delete from menu
        <where>
            <if test="id != null and id != ''">AND id = #{id}</if>
        </where>
    </delete>
</mapper>